In [2]:
import pandas as pd
pd.Series?

In [3]:
animals = ['wolf', 'lion', 'eagle', 'hunt']
pd.Series(animals)

0     wolf
1     lion
2    eagle
3     hunt
dtype: object

In [5]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
animals = ['Wold', 'Dog', 'Cat', None]
pd.Series(animals)

0    Wold
1     Dog
2     Cat
3    None
dtype: object

In [7]:
numbers = [1, 2, 3, None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [8]:
import numpy as np
np.nan == None

False

In [9]:
np.nan == np.nan

False

In [10]:
np.isnan(np.nan)

True

In [13]:
sport = {'football': 'spain', 'golt': 'usa', 'basket':'usa'}
s = pd.Series(sport)
s

basket        usa
football    spain
golt          usa
dtype: object

In [15]:
s.index

Index(['basket', 'football', 'golt'], dtype='object')

In [16]:
s = pd.Series(['Wolf', 'Lion', 'Deer'], index = ['american', 'european', 'canadian'])
s

american    Wolf
european    Lion
canadian    Deer
dtype: object